<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Principal.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Registrarse</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="cuerpo">
        <div class="box-info">
            <h1>UN5</h1>
            <h2>Porque amamos la vida le ponemos pasion a la cocina</h2>
        </div>
        <div class="parrafo">
            <h1 id="title">Nuestros servicios</h1>
            <p>En UN5 nos gusta ayudarte a manejar tu negocio y mejorar el trato con tus clientes,
                entre nuestros servicios puedes encontrar:</p> 
            <ul>
                <li>menu online para tus clientes</li>
                <li>manejo de multiples locales</li>
                <li>analisis de ventas presenciales de tu local</li>
            </ul>
            <p>Unete si estas interesado!</p>
        </div>
    </div>
    
    <script src="js/bootstrap.min.js"></script>
</body>
</html>